<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>동영상 등록</title>
    <style>
        /* 제목부터 연령 등급까지 입력란의 폭을 7cm로 설정 */
        .form-control.restrict-width {
            width: 7cm;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>동영상 등록</h1>
    <form method="post" th:action="@{/user/video/new}" enctype="multipart/form-data">
        <!-- 동영상 파일 -->
        <label th:for="videoFile">동영상 파일:</label>
        <input class="form-control restrict-width" type="file" id="videoFile" name="videoFile" required>
        <br>

        <!-- 자막 파일 -->
        <label th:for="subtitles">자막 파일:</label>
        <input class="form-control restrict-width" type="file" id="subtitles" name="subtitles">
        <br>

        <!-- 썸네일 이미지 파일 -->
        <label th:for="thumbnailFile">썸네일 이미지 파일:</label>
        <input class="form-control restrict-width" type="file" id="thumbnailFile" name="thumbnailFile">
        <br>

        <!-- 제목 -->
        <label th:for="title">제목:</label>
        <input class="form-control restrict-width" type="text" id="title" name="title" required>
        <br>

        <!-- 설명 -->
        <label th:for="description">설명:</label>
        <textarea class="form-control restrict-width" id="description" name="description"></textarea>
        <br>

        <!-- 장르 -->
        <label th:for="genre">장르:</label>
        <input class="form-control restrict-width" type="text" id="genre" name="genre">
        <br>

        <!-- 출시일 -->
        <label th:for="releaseDate">출시일:</label>
        <input class="form-control restrict-width" type="date" id="release_date" name="release_date">
        <br>

        <!-- 길이 -->
        <label th:for="duration">길이 (분):</label>
        <input class="form-control restrict-width" type="number" id="duration" name="duration">
        <br>

        <!-- 언어 -->
        <label th:for="language">언어:</label>
        <input class="form-control restrict-width" type="text" id="language" name="language">
        <br>

        <!-- 연령 등급 -->
        <label th:for="ageRating">연령 등급:</label>
        <input class="form-control restrict-width" type="text" id="age_rating" name="age_rating">
        <br>

        <!-- 등록 버튼 -->
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
