<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>동영상 리스트</title>
    <link rel="stylesheet" th:href="@{/css/video/videoList.css}">
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function () {
                // video_id 기준으로 내림차순 정렬
                var sortedVideos = $('.video-card').sort(function (a, b) {
                    var videoIdA = $(a).data('video-id');
                    var videoIdB = $(b).data('video-id');
                    return videoIdB - videoIdA; // 내림차순
                });

                // 정렬된 비디오 카드를 다시 .video-grid에 추가
                $('.video-grid').html(sortedVideos);
            });
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <header>
        <h1>등록된 동영상</h1>
    </header>

    <!-- videos가 null이거나 비어있을 때 문구 표시 -->
    <div th:if="${videos == null or videos.isEmpty()}" class="video-grid">
        <p class="no-content-message">등록된 동영상이 없습니다.</p>
    </div>

    <!-- videos가 있을 때만 동영상 목록을 출력 -->
    <div th:if="${videos != null and !videos.isEmpty()}" class="video-grid">
        <!-- 각 비디오 카드 -->
        <div class="video-card" th:each="video : ${videos}" th:data-video-id="${video.videoId}">
            <!-- 비디오 썸네일 -->
            <div class="video-thumbnail">
                <a th:href="@{{videoId}(videoId=${video.videoId})}">
                    <img th:src="@{/images/{thumbnail_url}(thumbnail_url=${video.thumbnail_url})}" alt="썸네일">
                </a>
            </div>
            <!-- 비디오 정보 -->
            <div class="video-info">
                <!-- 제목 -->
                <div class="video-title" th:text="${video.title}"></div>
                <!-- 메타 정보 -->
                <div class="video-meta">
                    장르: <span th:text="${video.genre}"></span><br>
                    출시일: <span th:text="${video.release_date}"></span>
                </div>
                <!-- 설명 -->
                <div class="video-description" th:text="${video.description}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>