<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title th:text="${video.title}">동영상 상세</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!-- Plyr CSS -->
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css"/>
    <!-- Plyr JS -->
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script>
        $(document).ready(function () {
            if ($(".like-button").val() == 1) {
                $(".like-button").css({
                    "background-color": "#ff0000",
                    "color": "#fff"
                });
            } else {
                $(".like-button").css({
                    "background-color": "#fff",
                    "color": "#ff0000"
                });
            }
        });

        $(document).ready(function () {
            const csrfToken = $('meta[name="_csrf"]').attr('content');
            const csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            $('.like-button').click(function () {
                const button = $(this);
                const videoId = button.data('video-id');
                const userId = button.data('user-id');
                let url = '/user/like';
                let type = 'POST';

                if (button.val() == 1) {
                    url = '/user/cancelLike';
                    type = 'DELETE';
                }

                $.ajax({
                    url: url,
                    type: type,
                    data: {videoId, userId},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function (data) {
                        if (data == 1) {
                            $(".like-button").val(data);
                            $(".like-button").css({
                                "background-color": "#ff0000",
                                "color": "#fff"
                            });
                            likeCount()
                        } else {
                            $(".like-button").val(data);
                            $(".like-button").css({
                                "background-color": "#fff",
                                "color": "#ff0000"
                            });
                            likeCount()
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

        function likeCount() {
            const button = $('.like-button');
            const videoId = button.data('video-id');
            $.ajax({
                url: '/user/likeCount',
                type: 'get',
                data: {videoId},
                success: function (data) {
                    $('#likeCount').text(data);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        // Plyr 초기화
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr('#my-video', {
                controls: [
                    'play-large', // 큰 재생 버튼
                    'play', // 재생/일시정지 버튼
                    'progress', // 진행 바
                    'current-time', // 현재 시간
                    'mute', // 음소거
                    'volume', // 볼륨 조절
                    'captions', // 자막
                    'settings', // 설정
                    'pip', // Picture-in-Picture
                    'airplay', // AirPlay
                    'fullscreen' // 전체 화면
                ],
                autoplay: true,
                keyboard: {focused: true, global: true},
                tooltips: {controls: true, seek: true},
                captions: {active: true, language: 'ko', update: true}
            });

            player.on('ended', () => {
                alert('동영상이 종료되었습니다.');
            });

            // 화살표 키로 동영상 이동
            document.addEventListener('keydown', function (event) {
                if (event.key === 'ArrowRight') {
                    // 오른쪽 화살표: 5초 앞으로
                    player.currentTime += 5;
                } else if (event.key === 'ArrowLeft') {
                    // 왼쪽 화살표: 5초 뒤로
                    player.currentTime -= 5;
                }
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="video-container">
    <!-- 동영상 플레이어 -->
    <div class="video-container" style="width: 100%; max-width: 1280px; margin: auto;">
        <video id="my-video" controls style="width: 100%; height: auto;">
            <source th:src="@{/secretVideoUploads/{encodeUrl}(encodeUrl=${encodeUrl})}" type="video/mp4">
            <track th:src="@{/secretVideoUploads/{subtitlePath}(subtitlePath=${subtitlePath})}" kind="subtitles"
                   srclang="ko"
                   label="한국어" id="sub" default/>
        </video>
    </div>

    <!-- 동영상 정보 -->
    <div class="video-info">
        <div class="video-title" th:text="${video.title}"></div>
        <div class="video-meta">
            장르: <span th:text="${video.genre}"></span><br>
            출시일: <span th:text="${video.release_date}"></span><br>
            연령 등급: <span th:text="${video.age_rating}"></span><br>
            언어: <span th:text="${video.language}"></span>
        </div>
        <div class="video-description" th:text="${video.description}"></div>
    </div>
</div>
</body>
</html>